html,
body {
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242);
  padding: 10px;
}

.layui-input {
  width: 30%;
}

input[name=username] {
  cursor: not-allowed;
  background-color: rgba(242, 242, 242);
}



